* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

div {
    display: flex;
}
/* Full-screen Three.js canvas */
#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Ensure it stays behind the content */
}

/* Main content styling */
#content {
    position: relative;
    z-index: 10;
    color: white;
    text-align: center;
    padding: 50px;
}

/* Navigation menu */
nav {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ff6347;
}

#content {
    width: 100vw;
    height: 50vh;
}
/* Fade transition */
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
}

/* Page Content */
#page-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.title {
    flex-direction: column;
    height: auto;
}

.main-options {
    height: 80%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.option a{
    border: 1px solid white;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 500;
    padding: 2px 20px;
    background-color: rgba(128, 128, 128, 0.192);
}
/* 
.black {
    color: black !important;
} */